/* 노멀라이징 */
body, ul , li {
  padding:0;
  margin: 0;
  list-style:none;
}
a {
  color: inherit;
  text-decoration: none;
}

/* 라이브러리 */
.con {
  margin-right: auto;
  margin-left: auto;
}
.con {
  width: 1200px;
}
.flex {
  display: flex;
}
.flex-col{
  flex-direction:column;
}
.flex-grow {
  flex-grow:1;
}
.flex-shrink-0 {
  flex-shrink:0;
}
.flex-1 {
  flex:0 0 1;
}
.align-center{  
align-items:center;
}
.justify-center {
 justify-content:center;
}
.justify-end {
  justify-content: flex-end;
}

/* font */
@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 400;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Shilla_Gothic-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_Gothic-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* 커스텀 */
html {
  font-family:'NanumBarunGothic';
}
/* 탑바 */
.top-bar {
  width: 100%;
  height:90px;
  position:absolute;
  z-index:20;
}

.logo-img {
  padding: 18px;
}
.logo-img > img {
  width: 200px;
}
.menu-bar {
  min-width: 750px;
}
.menu-bar > ul > li > a {
  padding: 10px;
  font-size:1.1rem;
  color:#2a2a2a;
  font-weight:bold;
}
.menu-bar > ul > li:hover > a {
  color:#5fddda;
}
.top-bar-right {
  width: 236px;
}
.top-bar-right > a {
  border: 2px solid #444444;
  border-radius: 30px;
  font-size:0.9rem;
  font-weight:bold;
  padding: 5px 15px;
  color:#444444;
}
.top-bar-right > i {
  padding:5px 12px;
  font-size:1.5rem;
  cursor:pointer;
  color:#444444;
}

/* 메뉴 팝업창 */
.menu-popup{
  opacity:0;
  visibility:hidden;
  position:absolute;
  z-index:100;
  transition:0.3s;
} 
.menu-popup.popup-active {
  opacity:1;
  visibility:visible;
}
.menu-popup-bg {
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-color:rgba(0,0,0,0.5);
}
.menu-popup-wrap {
  position:absolute;
  top:0;
  right:0;
  width: 350px;
  height:100%;
  background-color:white;
  transition:0.3s;
}
.menu-popup.popup-active .menu-popup-wrap {
  right:0;
}
/* 메뉴팝업 헤드 */
.menu-popup-head {
  width:100%;
  height:70px;
}
.menu-popup-head > .btn-close {
 position:absolute;
 right:0;
}

.menu-popup-head > .btn-close > i {
  font-size: 2rem;
  padding: 18px;
  cursor:pointer;
}

/* 메뉴팝업 바디 */
.menu-popup-body {
  margin:0 30px;
}
.menu-popup-body > .log-in > p {
  font-family:'SEBANG_Gothic_Bold';
  font-size: 1.8rem;
  margin-top:-4px;
}
.menu-popup-body > .log-in > p:nth-child(2) {
  margin-top: -15px;
  cursor:pointer;
}
.menu-popup-body > .log-in > p > span {
  font-size: 1.1rem;
  padding: 0 10px;
  color: gray;
}

.menu-popup-body > .popup-body-m > .theme,
.menu-popup-body > .popup-body-m > .category {
  margin-top: 40px;
}
.menu-popup-body > .popup-body-m > .theme > span,
.menu-popup-body > .popup-body-m > .category > span {
 color:gray;
}
.menu-popup-body > .popup-body-m > .theme > p,
.menu-popup-body > .popup-body-m > .category > p {
  font-size:1.3rem;
  font-weight:bold;
  margin-bottom:-5px;
  cursor:pointer;  
}
.menu-popup-body > .popup-body-m > .theme > p:hover,
.menu-popup-body > .popup-body-m > .category > p:hover {
  color:#5fddda;
}

/* 메뉴팝업 풋 */
.menu-popup-foot {
  margin-top:20px;
  width:100%;
  height:60px;
  display: flex;
  justify-content:center;
  align-items:center;
  position:absolute;
  bottom:0;
  background-color:white;
  z-index:1;
}
.menu-popup-foot > i {
  font-size:1.5rem;
}
.menu-popup-foot > span {
  font-weight:bold;
  padding:0 20px;
  cursor:pointer;
}
.menu-popup-foot > span:after {
  content:"|";
  position:absolute;
  left:50%;
  transform:translatex(-50%);
  color:gray;
}
.menu-popup-foot > span:last-child:after{
  content:none;
}


/* 배너 슬라이드 */
.banner-slide {
  overflow:hidden;
}
.banner-slide > .slides {
  width:500vw;
  transition: transform, 1s;
}
.banner-slide > .slides > .slide {
  width: 100vw;
  float:left;
}
.banner-slide > .slides > .slide > img {
  width:100%;
  height: 816px;
  object-fit:cover;
}

/* 배너슬라이드 버튼 */
.banner {
  position:relative;
}
.banner-button {
  position:absolute;
  top:95%;
  left: 50%;
  transition: translate(-50%,-50%);
}
.banner-button > div{
  width: 12px;
  height: 12px;
  background-color:gray;
  border-radius:50%;
  margin:4px;
  float:left;
  cursor:pointer;
}

/* section-1 */
.section-1-1 {
  margin-top: 120px;
}

/* 섹션1-2 슬라이드 */
.section-1-2 {
  width: 100%;
  height: 467px;
}

.section-1-2 input[id*="slide"] {
  display:none;
}
.section-1-2 {
  position:relative;
}
.section-1-2 > .slidewrap {
  max-width: 1200px;
  margin: 0 auto;
  overflow:hidden;
}
.section-1-2 .slidelist {
  white-space:nowrap;
  font-size:0;
  margin-top: 50px;
  margin-left: 70px;
  width:1050px;
  overflow:hidden;
  height:417px;
}
.section-1-2 .slidelist > li {
  display: inline-block;
  vertical-align:middle;
  width: 100%;
  height:100%;
  transition: all ,1s;
}
.section-1-2 .slidelist > li > a {
  width:100%;
  height:100%;
}
.section-1-2 .slidelist > li > a > div > .txt {
  border :1px solid blue;
  width: 100px;
  height: 100px;
  color:black;
}

.section-1-2 .slidelist > li > a > div > img {
  padding:10px;
  width:312px;
}
.section-1-2 .slidelist > li > a > div {
  overflow:hidden;
  margin: 0 10px;
  height:100%;
  background-color:gold;
}

.section-1-2 .slidelist label {
  position:absolute;
  z-index: 10;
  top: 50%;
  transform: translatey(-50%);
  padding:50px;
  cursor: pointer;
}
.section-1-2 .slidelist .left {
  left:-20px;
  background:url('https://brandstore.baemin.com/assets/image/web/main_arr_prev_on.png') center center / 60% no-repeat;
  opacity:70%;
}
.section-1-2 .slidelist .right {
  right: -20px;
  background:url('https://brandstore.baemin.com/assets/image/web/main_arr_next_on.png') center center / 60% no-repeat;
  opacity:70%;
}


.section-1-2 [id="slide01"]:checked ~ .slidewrap .slidelist > li {
  transform: translatex(0%);
}
.section-1-2 [id="slide02"]:checked ~ .slidewrap .slidelist > li {
  transform: translatex(-100%);
}
.section-1-2 [id="slide03"]:checked ~ .slidewrap .slidelist > li {
  transform: translatex(-200%);
}

.section-1-2 .slide-control [class*="control"] {
  display:none;
}
.section-1-2 [id="slide01"]:checked ~ .slidewrap .control01 {
  display: block;
}
.section-1-2 [id="slide02"]:checked ~ .slidewrap .control02 {
  display: block;
}

/* 섹션1-2 슬라이드 호버 */
.slide-img-hide {
  margin-top:-331px;
  z-index:-1;
}
.slidelist > li > a > div {
  display:flex;
  flex-direction:column;
}
.slidelist > li > a > div:hover > .slide-img-hide {
  z-index:1;
}

/* 섹션2 */
.section-2 > .section-2-wrap {
  margin-top: 100px;
  padding-top: 100px;
  border-top: 1px solid #ddd;
}
.section-2-txt {
  align-self:center;
  font-size:1.8rem;
  font-weight:bold;
}
.section-2-content > div {
  width: 300px;
  height: 494px;
  float:left;
}
.section-2-content > div > .img-wrap > img {
  width: 282px;
  margin-top:80px;
  margin-left:9px;
  cursor:pointer;
}
.content-txt {
  margin-top:10px;
  cursor:pointer;
}
.content-txt > p {
  align-self:center;
  font-size:0.90rem;
  margin:0;
  padding:5px;
  font-weight:bold;
}
.content-txt > span {
  align-self:center;
  font-size:70%;
  color:blue;
  font-weight:bold;
  padding: px;
  border-bottom:1px solid blue;
  background-color: rgba(0,100,0,0.1);
}
.section-2-content > div:hover > .content-txt > p {
  color:#5fddda;
}
.img-wrap {
  position:relative;
}
.slide-img-hide2 {
  position:absolute;
  top:0;
  left:0;
  z-index:1;
  opacity:0;
  transition: opacity, 0.3s;
}
.section-2-content > div:hover > .img-wrap > .slide-img-hide2 {
  opacity:1;
}




/* 반응형  */

/* 태블릿 반응형 */
@media ( max-width:1000px ) {
/*   탑바 */
  .menu-bar {
    min-width:100px;
  }
  .menu-bar > ul {
    display:none;
  }
/*   탑바 메뉴 팝업 */
  .menu-popup-body > .popup-body-m > .theme {
    display:none;
  }
  .menu-popup-body > .popup-body-m > .category > p {
    font-size:1.5rem;
  }
}

/* 스마트폰 반응형 */
@media ( max-width:640px ) {
/*   탑바 */
  .menu-bar {
    min-width:30px;
  }
  .logo-img > img {
    width: 150px;
  }
  .top-bar-right > i {
    font-size:1.3rem;
    padding: 5px 8px;
  }
  .top-bar-right > a {
    font-size:0.8rem;
    padding: 5px 12px;
  }
  /*   탑바 메뉴 팝업 */
  .menu-popup-wrap {
    width: 280px;
  }
  .menu-popup-body > .log-in > p{
    font-size: 1.5rem;
  }
  .menu-popup-body > .popup-body-m > .theme {
    display:none;
  }
  .menu-popup-body > .popup-body-m > .category > p {
    font-size:1.6rem;
  }
}